/* http://jsfiddle.net/ZHNFu/7/ */
.ui-center {
    overflow: visible;
    -moz-box-shadow: inset 0px 0px 1px #f0f0f0, 0px 3px 15px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0px 0px 1px #f0f0f0, 0px 3px 15px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 1px #f0f0f0, 0px 3px 15px rgba(0,0,0,0.5);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid black;
    background: white;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.ui-center .ui-tooltip-tip {
    border: none;
}

.ui-center .ui-tooltip-titlebar {
    background-color: #272727;
    background-image: -moz-linear-gradient(top, #575757 0%, #333 50%, #272727 50%, #232323 100%);
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, color-stop(0%, #575757), color-stop(50%, #333), color-stop(50%, #272727), color-stop(100%, #232323));
    border: none;
    border-radius: 5px 5px 0px 0px;
    -moz-box-shadow: 0px 1px 0px #777 inset;
    -webkit-box-shadow: 0px 1px 0px #777 inset;
    box-shadow: 0px 1px 0px #777 inset;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;

    line-height: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-shadow: black 0px 1px 0px;
    -webkit-font-smoothing: antialiased;
    font-family: Helvetica, Arial, sans-serif;

    margin: 0;
    padding: 0;
}

.button {
    display: block;
    position: absolute;
    left: 4px;
    top: 4px;
    width: 50px;
    height: 22px;
    line-height: 20px;
    padding: 0 6px;
    border: 1px solid black;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2),0px 1px 1px #333;
    -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2),0px 1px 1px #333;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2),0px 1px 1px #333;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    outline: none;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.button.left {
    float: left;
    background-color: #505050;
    background-image: -moz-linear-gradient(top, #505050 0%, #333 50%, #272727 50%, #111 100%);
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, color-stop(0%, #505050), color-stop(50%, #333), color-stop(50%, #272727), color-stop(100%, #111));
    text-shadow: black 0px 1px 1px;
}

.button.left:hover {
    background-color: #5C5C5C;
    background-image: -moz-linear-gradient(top, #5C5C5C 0%, #333 50%, #272727 50%, #111 100%);
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, color-stop(0%, #5C5C5C), color-stop(50%, #333), color-stop(50%, #272727), color-stop(100%, #111));
}

.button.left:active {
    background-color: #111;
    background-image: -moz-linear-gradient(top, #111 0%, #333 100%);
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, color-stop(0%, #111),color-stop(100%, #333));
    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.2),0px 1px 1px #333;
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.2),0px 1px 1px #333;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.2),0px 1px 1px #333;
}

.button.right {
    left: auto;
    right: 4px;
    border-color: black !important;
}

.button.right:hover {
    background-image: -moz-linear-gradient(center top, #8CCDFF 0%, #2C8FFF 50%, #1471FB 50%, #0758F1 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #8CCDFF),color-stop(0.5, #2C8FFF),color-stop(0.5,#1471FB),color-stop(1, #0758F1));
    background-image: -webkit-linear-gradient(top, #8CCDFF 0%, #2C8FFF 50%, #1471FB 50%, #0758F1 100%);
    background-image: linear-gradient(top, #8CCDFF 0%, #2C8FFF 50%, #1471FB 50%, #0758F1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#8ccdff', EndColorStr='#0758F1');
}

.button.right:active {
border-top-color: #1A2B51;
background-image: -moz-linear-gradient(center top, #0057F0 0%, #2C8FFF 100%);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0057F0),color-stop(1, #2C8FFF));
background-image: -webkit-linear-gradient(top, #0057F0 0%, #2C8FFF 100%);
background-image: linear-gradient(top, #0057F0 0%, #2C8FFF 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#0057f0', EndColorStr='#2C8FFF');
}

.button.default {
    border-color: #2B4887;
    border-bottom-color: #1447A1;
    background-image: -moz-linear-gradient(center top, #6BBEFF 0%, #2C8FFF 50%, #1471FB 50%, #0758F1 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #6BBEFF),color-stop(0.5, #2C8FFF),color-stop(0.5,#1471FB),color-stop(1, #0758F1));
    background-image: -webkit-linear-gradient(top, #6BBEFF 0%, #2C8FFF 50%, #1471FB 50%, #0758F1 100%);
    background-image: linear-gradient(top, #6BBEFF 0%, #2C8FFF 50%, #1471FB 50%, #0758F1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#6BBEFF', EndColorStr='#0758F1');
    color: white;
    text-shadow: #2B4887 0px 1px 0px;
}

.ui-center .ui-tooltip-content {
    background-color: white;
    color: black;
    border: 1px solid;
    border-color: black !important;
}
